@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
* ::before,
* ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  color: #212121;
  font-family: 'Roboto';
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .conteiner {
    width: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 15px;
  position: relative;
}

.web {
  color: #2196F3;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #212121;
  letter-spacing: 0.03em;
  margin-right: 93px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196F3;
}

.mobile-menu {
  position: relative;
  display: none;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 48px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 796px;
  z-index: 999;
}

.mobile-menu.is-open {
  display: block;
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    width: 100%;
  }
}

.mobile-menu__button-open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu__button-open:hover {
  color: #2196F3;
}

.mobile-menu__button-open:hover .mobile-menu__icon-first {
  fill: #2196F3;
}

.mobile-menu__button-close {
  position: absolute;
  top: 21px;
  right: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.mobile-menu__button-close:hover {
  color: #2196F3;
}

.mobile-menu__button-close:hover .mobile-menu__icon-second {
  fill: #2196F3;
}

.mobile-menu__button .mobile-menu__icon-second {
  display: none;
}

.mobile-menu__button.is-open .mobile-menu__icon-second {
  display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon-first {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list__item {
  margin-bottom: 32px;
}

.nav-list__item:last-child {
  margin-bottom: 302px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196F3;
}

.nav-list__link-portfolio {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.nav-list__link-studio {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 64px;
}

.contact-list__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  display: block;
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link-tel:hover, .contact-list__link-tel:focus {
  color: #2196F3;
}

.contact-list__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link-mail:hover, .contact-list__link-mail:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .icon-envelope {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .icon-smartphone {
    display: none;
  }
}

.contact-list__society {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-list__society-item {
  margin-right: 10px;
}

.contact-list__society-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196F3;
  padding-right: 15px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contact-list__society-last {
  border-right: transparent;
}

.hero {
  color: #FFFFFF;
  padding-top: 118px;
  padding-bottom: 118px;
}

.overlay {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/background.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/background.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .overlay {
    width: 100%;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  background-color: #2196F3;
  color: #FFFFFF;
  border: transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover {
  color: #2196F3;
}

.modal__button:hover .modal__icon {
  fill: #2196F3;
}

.modal__button:focus {
  color: #2196F3;
}

.modal__button:focus .modal__icon {
  fill: #2196F3;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.label__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.label__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 45px;
  height: 41px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__input:focus {
  border-color: #2196F3;
}

.label__input:focus + .label__icon {
  fill: #2196F3;
}

.label__input:hover {
  border-color: #2196F3;
}

.label__input:hover + .label__icon {
  fill: #2196F3;
}

.label__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px;
  width: 370px;
  height: 120px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__textarea:hover {
  border-color: #2196F3;
}

.label__textarea:focus {
  border-color: #2196F3;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.label__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 30px;
  left: 15px;
}

.button__submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  background-color: #2196F3;
  color: #FFFFFF;
  border: transparent;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.checkbox__icon {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
}

.label-checkbox__link {
  margin-left: 3px;
  color: #2196F3;
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196F3;
  background-origin: border-box;
  border-color: transparent;
  background-image: url(../image/Vector-11.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.label-checkbox:focus + .checkbox__icon {
  border-color: #2196F3;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.benefits {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__conteiner {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .benefits__conteiner {
    width: 100%;
  }
}

.benefits__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.benefits__item {
  width: 100%;
  margin-bottom: 30px;
  display: block;
}

.benefits__item:last-child {
  margin-bottom: 0px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.activity {
  background-color: #FFFFFF;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .activity {
    display: none;
  }
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.activity__item {
  position: relative;
  margin-right: 30px;
  padding-left: 0px;
}

.activity__item:last-child {
  margin-right: 0;
}

.activity__conteiner {
  position: absolute;
  bottom: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .activity__conteiner {
    width: 100%;
  }
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.staff {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.staff__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 30px;
  color: #212121;
}

.staff__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.staff__item {
  width: 100%;
  margin-bottom: 30px;
}

.staff__item:last-child {
  margin-bottom: 0px;
}

.staff__conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.staff__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.society-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.society-list__item {
  width: 44px;
}

.society-list__item:not(:last-child) {
  margin-right: 10px;
}

.society-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.society-list__link:hover {
  background-color: #2196F3;
}

.society-list__link:hover .society-list__icon {
  fill: #FFFFFF;
}

.society-list__link:focus {
  background-color: #2196F3;
}

.society-list__link:focus .society-list__icon {
  fill: #FFFFFF;
}

.society-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 4 - 15px);
      flex-basis: calc(100% / 4 - 15px);
  margin: 15px;
  /* border: 2px solid black; */
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  border: 1px solid #2196F3;
}

.clients__link:hover .clients__icon {
  fill: #2196F3;
}

.clients__link:focus {
  border: 1px solid #2196F3;
}

.clients__link:focus .clients__icon {
  fill: #2196F3;
}

.clients__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  background-color: #2F303A;
  color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .page-footer {
    width: 100%;
  }
}

.logo-second {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-second:hover, .logo-second:focus {
  color: #2196F3;
}

.page-footer__conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .page-footer__conteiner {
    width: 100%;
  }
}

.address {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.address__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 8px;
}

.address__item {
  text-align: center;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-society__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-society {
  margin-bottom: 60px;
}

.footer-society__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-society__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-society__link:not(last-child) {
  margin-right: 10px;
}

.footer-society__link:hover {
  background-color: #2196F3;
}

.footer-society__link:hover .footer-society__icon {
  fill: #FFFFFF;
}

.footer-society__link:focus {
  background-color: #2196F3;
}

.footer-society__link:focus .footer-society__icon {
  fill: #FFFFFF;
}

.footer-society__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.feedback__form {
  text-align: center;
}

.feedback__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.feedback__submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.51;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.feedback__submit::after {
  content: '';
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../image/icon-send-telegram.svg);
  background-position: center;
  background-size: contain;
}

.example {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 480px) {
  .example {
    width: 100%;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-list__item {
  display: inline-block;
}

.navigation-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.navigation-list__item:last-child {
  margin-right: 0px;
}

.navigation-list__item:nth-last-child(-n + 2) {
  margin-bottom: 40px;
}

.navigation-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  color: #212121;
  border: transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__button:focus, .navigation-list__button:hover {
  text-decoration: underline;
  background-color: #2196F3;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list__item {
  margin-bottom: 30px;
}

.example-list__item:last-child {
  margin-bottom: 0px;
}

.example-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-list__link:hover, .example-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list__link:hover .animation__box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.example-list__link:focus .animation__box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animation {
  position: relative;
  overflow: hidden;
}

.animation__box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.example-box {
  border-left: 1px solid #EEEEEE;
  border-right: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.example-box__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.example-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #212121;
}
/*# sourceMappingURL=main.css.map */