
.page-header {
     border-bottom: 1px solid #ECECEC;
     @media screen and (max-width: 767px){
     }
}
.web {
    color: #2196F3
}

.logo {
    @media screen and (max-width: 767px){
        font-size: 26px;
        line-height: 1.2;
    
    }
    @media screen and (min-width: 768px){
        font-size: 24px;
        line-height: 1.16;
        margin-right: 88px;
    }
    font-family: 'Raleway';
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.03em;

    
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover ,
    &:focus {
        color: #2196F3;
    }
}
.mobile-menu {
    @media screen and (max-width: 767px) {
        width: 100%;
        display: none;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 48px;
    background-color: #ffffff;
    position: absolute; 
    top: 0;
    left: 0; 
    height: 796px; 
    z-index: 999;
    &.is-open {
        display: block;
    }
    } 
    @media screen and (min-width: 768px){
        // width: 100%;
        // height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }

}
.mobile-menu__button-open {
    @media screen and (max-width: 767px){
    padding: 0;
    margin: 0;
    background-color:transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    

    &:hover {
        color: #2196F3;
    }
    &:hover .mobile-menu__icon-first {
        fill: #2196F3;
    }
}
@media screen and (min-width: 768px){
    display: none;
}
}
.mobile-menu__button-close {
    @media screen and (max-width: 767px){
    position: absolute;
    top: 21px;
    right: 26px;

    display: inline-flex;
    padding: 0;
    margin: 0;
    background-color:transparent;
    border: none;
    &:hover {
        color: #2196F3;
    }
    &:hover .mobile-menu__icon-second {
        fill: #2196F3;
    }
}
@media screen and (min-width: 768px){
    display: none;
}
}
.mobile-menu__button .mobile-menu__icon-second {
    display: none;
}
 .mobile-menu__button.is-open .mobile-menu__icon-second {
     display: block;
}
.mobile-menu__button.is-open .mobile-menu__icon-first {
     display: none;
}

.navigation {
    @media screen and (max-width: 767px){
        padding-top: 16px;
        padding-bottom: 16px;
        position: relative;
    }
    @media screen and (min-width: 768px){
       padding-bottom: 21px; 
       padding-top: 21px;
       display: flex;
       align-items: baseline;
       
    }
     display: flex;
     padding-left: 15px;
     padding-right: 15px;
     
     

}  

.nav-list {
    @media screen and (min-width: 768px){
        display: flex;
        margin-right: 84px;
        }
}
 .nav-list__item{
    @media screen and (min-width: 768px){
        margin-right: 40px;
    &:last-child {
        margin-right: 0px;
    }
        }
        @media screen and (max-width: 767px){
            margin-bottom: 32px;
            &:last-child {
                margin-bottom: 302px;
            }
    }
        
}
.nav-list__link {
    @media screen and (max-width: 767px){
    font-size: 40px;
    line-height: 1.17;
}
    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 1.15;
}

     font-weight: 500;
     text-decoration: none;
     color: #212121;
     letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus {
         color: #2196F3;
     }
}
.nav-list__link-portfolio {
    @media screen and (max-width: 767px){
        font-size: 40px;
    line-height: 1.17;
}
    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 16px;
}
   
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
 
    color: $active_color;

}
.nav-list__link-studio {
    @media screen and (max-width: 767px){
        font-size: 40px;
    line-height: 1.17;
}
    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 16px;
}
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $active_color;
    
}

.nav-list__link-portfolio {
   
    color: $active_color;
    position: relative;
}
.nav-list__link-studio {
    color: $active_color;
    position: relative;
}

.contact-list {
    @media screen and (max-width: 767px){
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;
        margin-left: auto;
}
    @media screen and (min-width: 768px){
        
        
 }
}


.contact-list__item {
//     @media screen and (min-width: 768px){
//         margin-right: 30px;
//      &:last-child {
//      margin-right: 0px;
//      }
// }
       margin-bottom: 10px;
       &:last-child {
           margin-bottom: 0;
       }
}
.contact-list__link-tel {
    @media screen and (max-width: 767px){
        font-size: 34px;
        line-height: 1.17;
        margin-bottom: 32px;
        color: #2196F3;
        display: block;
}
    @media screen and (min-width: 768px){
        font-size: 12px;
        line-height: 1.16;
        color: #757575;
}
       font-weight: 500;
       text-decoration: none;
       letter-spacing: 0.02em;
       
    
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
     &:hover,
     &:focus {
         color: $active_color;
     }
     
    
}
.contact-list__link-mail {
    @media screen and (max-width: 767px){
        font-size: 24px;
        line-height: 1.16;
}
    @media screen and (min-width: 768px){
        font-size: 12px;
        line-height: 1.16;
}
         font-weight: 500;
         letter-spacing: 0.02em;
         text-decoration: none;
         color: #757575;
         
         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
         &:hover,
         &:focus {
             color: $active_color;
         }

        
    }

.nav-list__link-studio::after {
    @media screen and (max-width: 767px){
        display: none;
}
    @media screen and (min-width: 768px){
        display: block;
        bottom: -38px;
}
    @media screen and (min-width: 1199px){
    display: block;
    bottom: -33px;
}
    content: "";

    position: absolute;


    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 4px;
    
}
.nav-list__link-portfolio::after {
    @media screen and (max-width: 767px){
        display: none;
}
    @media screen and (min-width: 768px){
        display: block;
        bottom: -38px;
}
@media screen and (min-width: 1199px){
    display: block;
    bottom: -33px;
}
    content: "";

    position: absolute;

    width: 78px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 4px;

}
.icon-envelope {
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        display: inline-block;
        fill: currentColor;
        vertical-align: middle;
        margin-right: 10px;
    }

}
.icon-smartphone {
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        display: inline-block;
        fill: currentColor;
       vertical-align: middle;
       margin-right: 10px;
    }
}
.contact-list__society {
    @media screen and (max-width: 767px){
        display: flex; 
    } 
    @media screen and (min-width: 768px){
        display: none; 
    } 
}
.contact-list__society-item {
    @media screen and (min-width: 768px){
        display: none; 
    } 
    margin-right: 10px;
}
.contact-list__society-link {
    @media screen and (min-width: 768px){
        display: none; 
    } 
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3;
    padding-right: 15px;
    border-right:1px solid rgba(33, 33, 33, 0.2);
}
.contact-list__society-last {
    @media screen and (min-width: 768px){
        display: none; 
    } 
    border-right: transparent;
}
