.page-header{
    
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EEEEEE;
    @media screen and (max-width: 767px){
        position: relative;
    }
    @media screen and (min-width: 768px){
        // padding-top: 26px;
        // padding-bottom: 26px;
    }
    
}
.navigation {
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (max-width: 767px){
        display: flex;
        align-items: center;
        justify-content: space-between;    
    }
    @media screen and (min-width: 768px){
        width: 768px;
        display: flex;
        align-items: baseline;
        position: relative;
    }
    @media screen and (min-width: 1200px){
        width: 1200px;
    }
}
.site-navigation {
    @media screen and (min-width: 768px){    
        display: flex;
        align-items: center;    
    }
    // @media screen and (min-width: 1200px){
    //     display: flex;
    // }
}
.mobile-menu {
    @media screen and (max-width: 767px){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        z-index: 999;
        padding-top: 48px;
        padding-left: 40px;    
    }
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px){
        display: none;    
    }
    display: none;
}
.is-open {
    display: block;
}
.mobile-menu__icon-close {
    @media screen and (min-width: 768px){
        display: none;    
    }
}
.mobile-menu__icon-open {
    @media screen and (min-width: 768px){
        display: none;    
    }
    
}
.mobile-menu__open {
    @media screen and (max-width: 767px){
        background-color: transparent;
        border-color: transparent; 
        &:hover {
            color: #2196F3;
        }
        &:hover .mobile-menu__icon-open{
            fill: #2196F3;
        }   
    }
    @media screen and (min-width: 768px){
        display: none;    
    }
}
.mobile-menu__close {
    @media screen and (max-width: 767px){
        position: absolute;
        top: 21px;
        right: 25px;
        background-color: transparent;
        border-color: transparent;
        &:hover {
            color: #2196F3;
        }
        &:hover .mobile-menu__icon-close{
            fill: #2196F3;
        }    
    }
    @media screen and (min-width: 768px){
        display: none;   
    }
}
.web {
    color: #2196F3;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    color: #212121;
    letter-spacing: 0.03em;

    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover ,
    &:focus {
        color: #2196F3;
    }
    @media screen and (min-width: 768px){
        margin-right: 88px;
    }
    @media screen and (min-width: 1200px){
        font-size: 26px;
    line-height: 1.2;
    }
    @media screen and (min-width: 1200px){
        margin-right: 93px;
    }
}
.nav-list {
    @media screen and (max-width: 767px){
        margin-bottom: 302px; 
        
    }
    @media screen and (min-width: 768px){
        display: flex;
        margin-right: 80px;
    }
    @media screen and (min-width: 1200px){
       margin-right: 305px;
    }
}
.nav-list__item{
    @media screen and (max-width: 767px){
        margin-bottom: 36px; 
        &:last-child {
            margin-bottom: 0px;
        } 
    }
        @media screen and (min-width: 768px){
            margin-right: 50px;
            
        }
   
}
.nav-list__item:last-child {
    margin-right: 0px;
}
.nav-list__link {
    @media screen and (max-width: 767px){
        font-size: 40px;
        line-height: 1.175;    
    }
    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 1.16;  
    }
    
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    &:hover, 
    :focus {
        color: $active_color;
    }

}
.nav-list__link-studio {
    color: $active_color;
}
.nav-list__link-portfolio {
    color: $active_color;
}
.contact-list {
    @media screen and (max-width: 767px){
        display: flex; 
        flex-direction: column-reverse;
        margin-bottom: 64px;
    }
    @media screen and (min-width: 1200px){
        display: flex;
    }
   
}
.contact-list__item {
    @media screen and (max-width: 767px){
        margin-bottom: 32px;
        &:first-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px){
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    @media screen and (min-width: 1200px){
        margin-right: 30px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.contact-list__link {
    font-weight: 500;

    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: $active_color;
    }
@media screen and (max-width: 767px){
    font-size: 24px;
    line-height: 1.16;
}
@media screen and (min-width: 768px){
    font-size: 12px;
    line-height: 1.16;
    
}
  
}
.contact-list__link-tel {
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

@media screen and (max-width: 767px){
    font-size: 34px;
    line-height: 1.17;
    color: #2196F3;
}
}
.icon-envelope {
    fill: currentColor;
    vertical-align: middle;
    margin-right: 10px;
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        margin-right: 8px;    
    }
    
}
.icon-smartphone {
    fill: currentColor;
    vertical-align: middle;
    margin-right: 10px;
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        margin-right: 8px;
        
    }
}
.header-society__list {
    @media screen and (max-width: 767px){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}
.header-society__item {
    @media screen and (max-width: 767px){
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}
.header-society__link {
    @media screen and (max-width: 767px){
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #2196F3;
        
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}
.header-society__icon {
    margin-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    
}
.header-society__icon-last {
    border-right: transparent;
    margin-left: 0;
}

.nav-list__link-studio::after {
    
    content: "";
    display: block;

    position: absolute;
    bottom: -33px;


    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 4px;
    @media screen and (max-width: 767px){
        display: none;
         
     }
     @media screen and (min-width: 768px){
        bottom: -17px;
         
    }
    
}
.nav-list__link-portfolio::after {
    
    content: "";
    display: block;

    position: absolute;
    bottom: -33px;


    width: 78px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 4px;
    @media screen and (max-width: 767px){
       display: none;
        
    }
    @media screen and (min-width: 768px){
        bottom: -17px;
         
    }
}