.overlay {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../image/background.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (min-width: 480px){
            max-width: 100%;           
        }
        @media screen and (min-width: 768px){
            max-width: 100%;
        }
        @media screen and (min-width: 1200px){
            max-width: 1600px;
            height: 600px;
        }
}
@media screen  and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
    .overlay { 
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../image/background-2x.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}
}
.hero {
    color: #FFFFFF;
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-width: 1200px){
        padding-top: 200px;
    padding-bottom: 200px;
    }
}
            
.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
   
    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
    }
}
.hero__button {  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 30px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: transparent;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    display: block;

    cursor: pointer;
}