.staff {
    background-color: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px){
        padding-top: 94px;
    padding-bottom: 94px;
    } 
}
.staff__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 30px;
    color: #212121;
    @media screen and (min-width: 1200px){
        font-size: 36px;
        margin-bottom: 50px;
    } 
}
.staff__list {
    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    } 
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
.staff__item {
    @media screen and (max-width:767px){
        margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
}
@media screen and (min-width: 1200px) {
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
}
}

.staff__conteiner {
    padding-top: 30px;
    padding-bottom: 24px;

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.staff__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}
.staff__text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.society-list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.society-list__item {
    width: 44px;

    &:not(:last-child) {
        margin-right: 10px ;
    }  
}

.society-list__link {
    width: 44px;
    height: 44px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: $active_color;
    }
    &:hover .society-list__icon {
        fill: #FFFFFF;
    }
    &:focus {
        background-color: $active_color;
    }
    &:focus .society-list__icon {
        fill: #FFFFFF;
    }   
}
.society-list__icon {
    display: flex;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
